
<div class="home-container">
	<div class="home-title">
		<%= image_tag "ninja.png" , :class => "home-img-first" %>
		<p class="home-title-text home-title-account">Accounting</p>
		<%= image_tag "ninja.png" , :class => "home-img-second" %>
		<p class="home-title-text home-title-conquest">Conquest</p>
	</div>
	<div class="home-btn-group">
		<button class="btn-home btn-green">The Income Statement</button>
		<button class="btn-home btn-yellow">Assets</button>
		<button class="btn-home btn-pink">Liabilities</button>
		<button class="btn-home btn-red">Owners' Equity</button>
		<button class="btn-home btn-blue">Debits and Credits</button>
	</div>
	<div class="footer">
		<p class="home-footer">Created by Jameson Galey, CPA, CMA</p>
	</div>
</div>
