// Place all the styles related to the Conquest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
iframe {
	width: 100%;
    height: 100%;
    background-color:black;
}
.conquest-container {
	color: black;
}
.conquest-header {
	background-color: black;
	text-align: center;
	padding: 10px;
}
.conquest-header-text {
	font-size: 80px;
	font-family: "Segoe Print";
	color: white;
}
.conquest-body {
	max-width: 1200px;
	padding: 20px;
	margin: 0 auto;
}
.conquest-content {
}
.conquest-video {
	border-left: 1px solid black;
	border-top: 1px solid black;
	height: 350px;
	text-align: center;
	padding: 5px
}
.conquest-img-play {
	display: block;
    margin: 0 auto;
    margin-top: 120px
}
.conquest-part-check {

}
.conquest-part {
	border: 1px solid black;
	border-bottom: none;
	height: 350px;
	padding-top: 20px;
}
.conquest-part > div{
	text-align: center;
	margin-bottom: 30px;
}
.conquest-part > div > p{
	font-size: 25px;
	margin: 0px;
}
.conquest-check {

}
.conquest-img-check {
	display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.conquest-img {
	border: 1px solid black;
	height: 300px;
}
.conquest-img-ninja {
	display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.conquest-question {
	border: 1px solid black;
	border-left: none;
	height: 300px;
	padding: 30px;
}
.conquest-question > p {
	font-size: 20px;
}
.conquest-question > div {
	max-width: 670px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
.conquest-question > div > button {
	font-size: 13px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
	background-color: transparent;
	margin: 5px;
	width:300px;
	height:40px;
}
.conquest-question > div > .conquest-green-btn {
	background-color: rgb(0,176,80);
}
.conquest-question > div > .conquest-red-btn {
	background-color: rgb(255,0,0);
}
.conquest-point {
	border: 1px solid black;
	border-top: none;
	height: 100px;
	padding-top: 5px;
}
.conquest-point > p {
	font-size: 19px;
	margin: 0;
}
.conquest-point > h1 {
	font-size: 18px;
	margin: 0;
	margin-top: 5px;
	color: rgb(0,176,80);
}
.conquest-answer {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 100px;
	font-size:15px;
}
.conquest-next {
}
.conquest-img-next {
	display: block;
    margin: 0 auto;
    margin-top: 10px;
}
@media (max-width: 575px) {
	.conquest-header-text {
		font-size: 7vw;
	}
	.conquest-video {
		border: 1px solid black;
	}
	.conquest-part {
		border: none;
		border-left: 1px solid black;
		border-right: 1px solid black;
		text-align: center;
		height: auto;
		padding: 10px 10px;
	}
	.conquest-check {
		border: 1px solid black;
		border-bottom: none;
	}
	.conquest-part > div{
		text-align: center;
		margin-bottom: 30px;
		display: inline-block;
		margin: 10px 15px;
	}
	.conquest-part > div > p{
		font-size: 5vw;
		margin: 0px;
	}
	.conquest-check {
		text-align: center;
		padding: 10px 0;
	}
	.conquest-img-check {
		width: 15vw;
		display: inline-block;
	    margin: 0 15px 0 15px;
	}
	.conquest-question {
		border: 1px solid black;
		border-top: none;
		height: unset;
	}
	.conquest-answer {
		border: 1px solid black;
		border-top: none;
	}
	.conquest-img-ninja {

	}
}
@media (max-width: 767px) and (min-width: 576px){
	.conquest-header-text {
		font-size: 50px;
	}
	.conquest-video {
		border: 1px solid black;
	}
	.conquest-part {
		border: none;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	.conquest-check {
		border-right: 1px solid black;
	}
	.conquest-question {
		border: 1px solid black;
		border-top: none;
		height: unset;
	}
	.conquest-answer {
		border: 1px solid black;
		border-top: none;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.conquest-header-text {
		font-size: 70px;
	}
	.conquest-question {
		border: 1px solid black;
		border-top: none;
	}
	.conquest-answer {
		border: 1px solid black;
		border-top: none;
	}
}
@media (max-width: 1070px) and (min-width: 992px){
	.conquest-header-text {
		font-size: 75px;
	}
	.conquest-point > p{
		font-size: 15px;
		padding-bottom: 5px;
	}
	.conquest-point > h1{
		font-size: 15px;
	}
}