.result-body {
	max-width: 950px;
	padding-top: 150px;
	margin: 0 auto;
}
.result-content {
	width: max-content;
	margin:0 auto;
}
.result-img {
	display: inline-block;
}
.result-img > img {
	display: block;
}
.result-percent {
	font-family: "Segoe Print";
	color: black;
	padding-left: 290px;
	margin-top: -160px;
}
.result-percent > div:first-child {
	font-size: 70px;
	line-height: 100%;
}
.result-percent > div:last-child {
	font-size: 120px;
	line-height: 100%;
}
.result-point {

}
.result-point > p {
	font-size: 20px;
	margin: 0;
}
.result-point > h1 {
	font-size: 20px;
	margin: 0;
	color: rgb(0,176,80);
}
.result-btn-next {
	width: 100%;
	margin-top: 80px;
	text-align: right;
}
@media (max-width: 700px) {
	.result-percent {
		font-family: "Segoe Print";
		color: black;
		padding-left: unset;
		margin-top: 30px;
	}
	.result-point {
		margin-top: 30px;
	}
	.result-body {
		padding-top: 100px
	}
}